modules/gui/src/com/haulmont/cuba/gui/screen-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.haulmont.com/schema/cuba/gui/screen-config.xsd">

    <xs:element name="screen-config" type="screenConfigType"/>

    <xs:complexType name="screenConfigType">
        <xs:sequence>
            <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="screenType" name="screen" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="screenType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="class" type="xs:string" use="optional"/>
        <xs:attribute name="template" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="includeType">
        <xs:attribute name="file" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>