modules/gui/src/com/haulmont/cuba/gui/window.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        targetNamespace="http://www.haulmont.com/schema/cuba/gui/window.xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.haulmont.com/schema/cuba/gui/window.xsd"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        >
    <xs:include schemaLocation="http://www.haulmont.com/schema/cuba/view.xsd"/>

    <xs:element name="window">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadataContext" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="deployViews" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="view" type="viewType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dsContext" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="collectionDatasource">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="datasourceClass" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="dataserviceClass" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="query" minOccurs="0" maxOccurs="1">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence>
                                                        <xs:element name="filter" type="filterType" minOccurs="0"
                                                                    maxOccurs="1"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:group ref="nestedDatasources" minOccurs="0"/>
                                        </xs:sequence>
                                        <xs:attribute name="id" type="xs:string" use="required"/>
                                        <xs:attribute name="class" type="xs:string" use="required"/>
                                        <xs:attribute name="view" type="xs:string" use="required"/>
                                        <xs:attribute name="query" type="xs:string" use="optional"/>
                                        <xs:attribute name="fetchMode" type="fetchMode" use="optional"/>
                                        <xs:attribute name="softDeletion" type="xs:boolean" use="optional"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="hierarchicalDatasource">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="datasourceClass" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="dataserviceClass" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="query" minOccurs="0" maxOccurs="1"/>
                                            <xs:group ref="nestedDatasources" minOccurs="0"/>
                                        </xs:sequence>
                                        <xs:attribute name="id" type="xs:string" use="required"/>
                                        <xs:attribute name="class" type="xs:string" use="required"/>
                                        <xs:attribute name="query" type="xs:string" use="optional"/>
                                        <xs:attribute name="view" type="xs:string" use="required"/>
                                        <xs:attribute name="hierarchyProperty" type="xs:string" use="optional"/>
                                        <xs:attribute name="fetchMode" type="fetchMode" use="optional"/>
                                        <xs:attribute name="softDeletion" type="xs:boolean" use="optional"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="datasource">
                                    <xs:complexType>
                                        <xs:group ref="nestedDatasources"/>
                                        <xs:attribute name="id" type="xs:string" use="required"/>
                                        <xs:attribute name="class" type="xs:string" use="required"/>
                                        <xs:attribute name="view" type="xs:string" use="required"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="timers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="timer">
                                    <xs:complexType>
                                        <xs:attribute name="id" type="xs:string" use="optional"/>
                                        <xs:attribute name="global" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="delay" type="xs:integer" use="required"/>
                                        <xs:attribute name="repeating" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="onTimer" type="xs:string" use="optional"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="layout" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:group ref="layoutOrComponent"/>
                        <xs:attribute name="expand" type="xs:string" use="optional"/>
                        <xs:attribute name="expandLayout" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="messagesPack" type="xs:string"/>
            <xs:attribute name="lookupComponent" type="xs:string"/>

            <xs:attribute name="datasource" type="xs:string"/>
            <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
        </xs:complexType>
    </xs:element>

    <xs:group name="layout">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="vbox">
                    <xs:complexType>
                        <xs:group ref="layoutOrComponent"/>
                        <xs:attribute name="id" type="xs:string" use="optional"/>

                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="expand" type="xs:string" use="optional"/>
                        <xs:attribute name="spacing" type="xs:boolean" use="optional"/>
                        <xs:attribute name="align" type="align" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                        <xs:attribute name="margin" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hbox">
                    <xs:complexType>
                        <xs:group ref="layoutOrComponent"/>
                        <xs:attribute name="id" type="xs:string" use="optional"/>

                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="expand" type="xs:string" use="optional"/>
                        <xs:attribute name="spacing" type="xs:boolean" use="optional"/>
                        <xs:attribute name="margin" type="xs:string" use="optional"/>
                        <xs:attribute name="align" type="align" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="scrollbox">
                    <xs:complexType>
                        <xs:group ref="layoutOrComponent"/>
                        <xs:attribute name="id" type="xs:string" use="optional"/>

                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <!--<xs:attribute name="expand" type="xs:string" use="optional"/>-->
                        <xs:attribute name="spacing" type="xs:boolean" use="optional"/>
                        <xs:attribute name="align" type="align" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="split">
                    <xs:complexType>
                        <xs:sequence minOccurs="2" maxOccurs="2">
                            <xs:group ref="layoutOrComponent"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="orientation" default="horizontal" type="orientation"/>
                        <xs:attribute name="expandable" type="xs:boolean"/>
                        <xs:attribute name="pos" type="xs:int"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tabsheet">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="tab">
                                <xs:complexType>
                                    <xs:group ref="layoutOrComponent"/>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="caption" type="xs:string" use="required" default="msg://"/>
                                    <xs:attribute name="lazy" type="xs:boolean" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="grid">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="columns" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="column" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="flex" type="xs:float" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="rows" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:group ref="layoutOrComponent"/>
                                                <xs:attribute name="visible" type="xs:string" use="optional"/>
                                                <xs:attribute name="align" type="align" use="optional"/>
                                                <xs:attribute name="spacing" type="xs:boolean" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="spacing" type="xs:boolean" use="optional"/>
                        <xs:attribute name="margin" type="xs:string" use="optional"/>

                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                        <xs:attribute name="visible" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="groupBox">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="caption" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="label" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:group ref="layoutOrComponent" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="expand" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="expandLayout" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="iframe">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="src" type="xs:string" use="required"/>
                        <xs:attribute name="visible" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="accessControl">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="visible" minOccurs="0" maxOccurs="1" type="accessControlAccessType"/>
                            <xs:element name="editable" minOccurs="0" maxOccurs="1" type="accessControlAccessType"/>
                            <xs:group ref="layoutOrComponent" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="data" type="xs:string" use="optional"/>
                        <xs:attribute name="param" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:simpleType name="align">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TOP_RIGHT"/>
            <xs:enumeration value="TOP_LEFT"/>
            <xs:enumeration value="TOP_CENTER"/>
            <xs:enumeration value="MIDDLE_RIGHT"/>
            <xs:enumeration value="MIDDLE_LEFT"/>
            <xs:enumeration value="MIDDLE_CENTER"/>
            <xs:enumeration value="BOTTOM_RIGHT"/>
            <xs:enumeration value="BOTTOM_LEFT"/>
            <xs:enumeration value="BOTTOM_CENTER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="headerMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="ICON"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fetchMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="LAZY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="component">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="button">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="action" type="xs:string" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="visible" type="xs:string" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                        <xs:attribute name="icon" type="xs:string" use="optional" default="icon://"/>
                    </xs:complexType>
                </xs:element>


                <xs:element name="label">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="formatter" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:string" use="optional"/>

                        <xs:attribute name="visible" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="control" type="xs:string" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                        <xs:attribute name="align" type="align" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="checkBox">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:string" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="textField">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="validator" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string" use="required"/>
                                    <xs:attribute name="message" type="xs:string" use="optional"/>
                                    <xs:attribute name="onlyPositive" type="xs:boolean" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="visible" type="xs:boolean" use="optional"/>
                        <xs:attribute name="editable" type="xs:string" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="cols" type="xs:int" use="optional"/>
                        <xs:attribute name="rows" type="xs:int" use="optional"/>
                        <xs:attribute name="secret" type="xs:boolean" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="textArea">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:string" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="cols" type="xs:int" use="optional"/>
                        <xs:attribute name="rows" type="xs:int" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dateField">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:string" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="dateFormat" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="resolution" type="xs:string" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lookupField">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:string" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="captionProperty" type="xs:string" use="optional"/>
                        <xs:attribute name="nullName" type="xs:string" use="optional"/>
                        <xs:attribute name="optionsDatasource" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pickerField">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:boolean" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="captionProperty" type="xs:string" use="optional"/>
                        <xs:attribute name="metaClass" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="optionsGroup">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <xs:attribute name="editable" type="xs:boolean" use="optional"/>
                        <xs:attribute name="enable" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:boolean" use="optional"/>
                        <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>

                        <xs:attribute name="multiselect" type="xs:boolean" use="optional"/>

                        <xs:attribute name="datasource" type="xs:string" use="optional"/>
                        <xs:attribute name="property" type="xs:string" use="optional"/>
                        <xs:attribute name="captionProperty" type="xs:string" use="optional"/>
                        <xs:attribute name="optionsDatasource" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="upload">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="optional"/>

                        <xs:attribute name="width" type="xs:string" use="optional"/>
                        <xs:attribute name="height" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>


                <xs:element name="tree">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="treechildren" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="datasource" type="xs:string" use="required"/>
                                    <!--<xs:attribute name="hierarchyProperty" type="xs:string" use="required"/>-->
                                    <xs:attribute name="captionProperty" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="multiselect" type="xs:boolean" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="table" type="tableType"/>
                <xs:element name="treeTable" type="tableType"/>
                <xs:element name="filter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="properties" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="include" type="xs:string" use="required"/>
                                    <xs:attribute name="exclude" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="caption" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="custom" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="caption" type="xs:string" use="optional"/>
                                    <xs:attribute name="paramClass" type="xs:string" use="required"/>
                                    <xs:attribute name="join" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="datasource" type="xs:string" use="required"/>
                        <xs:attribute name="visible" type="xs:string" use="optional"/>
                        <xs:attribute name="stylename" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:group name="layoutOrComponent">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="component"/>
                <xs:group ref="layout"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>


    <xs:group name="nestedDatasources">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="collectionDatasource" minOccurs="0" maxOccurs="unbounded" type="nestedDs"/>
                <xs:element name="datasource">
                    <xs:complexType>
                        <xs:group ref="nestedDatasources"/>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="property" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="nestedDs">
        <xs:sequence>
            <xs:element name="datasourceClass" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="nestedDatasources"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="property" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:sequence>
            <xs:element name="formatter" minOccurs="0" maxOccurs="1" type="formatterType"/>
            <xs:element name="editable" minOccurs="0" maxOccurs="1"/>
            <xs:element name="aggregation" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="formatter" minOccurs="0" maxOccurs="1" type="formatterType"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="aggregation" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="caption" type="xs:string" use="optional"
                      default="msg://"/>
        <xs:attribute name="captionProperty" type="xs:string" use="optional"/>
        <xs:attribute name="clickAction" type="xs:string" use="optional"/>
        <xs:attribute name="editable" type="xs:boolean" use="optional"/>
        <xs:attribute name="visible" type="xs:boolean" use="optional"/>
        <xs:attribute name="width" type="xs:integer" use="optional"/>
        <xs:attribute name="collapsed" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="tableType">
        <xs:sequence>
            <xs:element name="actionButtons" minOccurs="0" maxOccurs="1" type="actionButtonsType"/>
            <xs:element name="columns" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="column" minOccurs="1" maxOccurs="unbounded"
                                    type="columnType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rows" minOccurs="1">
                <xs:complexType>
                    <xs:attribute name="datasource" type="xs:string" use="required"/>
                    <xs:attribute name="headerMode" type="headerMode" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="multiselect" type="xs:boolean" use="optional"/>
        <xs:attribute name="editable" type="xs:boolean" use="optional"/>
        <xs:attribute name="margin" type="xs:string" use="optional"/>
        <xs:attribute name="visible" type="xs:string" use="optional"/>
        <xs:attribute name="stylename" type="xs:string" use="optional"/>
        <xs:attribute name="sortable" type="xs:boolean" use="optional"/>
        <xs:attribute name="width" type="xs:string" use="optional"/>
        <xs:attribute name="height" type="xs:string" use="optional"/>
        <xs:attribute name="pagingMode" type="xs:string" use="optional"/>
        <xs:attribute name="aggregatable" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="formatterType">
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="format" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="actionButtonsType">
        <xs:sequence>
            <xs:element name="actionButton" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="optional"/>
                    <xs:attribute name="caption" type="xs:string" use="optional" default="msg://"/>
                    <xs:attribute name="icon" type="xs:string" use="optional" default="icon://"/>
                    <xs:attribute name="action" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="class" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="orientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="aggregation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUM"/>
            <xs:enumeration value="COUNT"/>
            <xs:enumeration value="AVG"/>
            <xs:enumeration value="MIN"/>
            <xs:enumeration value="MAX"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="filterType">
        <xs:sequence>
            <xs:element name="c" type="filterClauseType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="and" type="filterLogicalType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterClauseType" mixed="true">
        <xs:attribute name="join" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="filterLogicalType">
        <xs:sequence>
            <xs:element name="c" type="filterClauseType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="and" type="filterLogicalType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="or" type="filterLogicalType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accessControlAccessType" mixed="true">
        <xs:sequence>
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:attribute name="name" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="script" type="xs:string" use="optional"/>
        <xs:attribute name="property" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>